@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
}
/* hidding arrows of input type num */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
/* Webkit (Safari and Chrome) */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}
/* Hide scrollbar track and thumb */
::-webkit-scrollbar {
  width: 0rem; /* Adjust this value to change the scrollbar width  */
}
::-webkit-scrollbar-thumb {
  background: transparent; /* Make the thumb transparent */
}
::-webkit-scrollbar-track {
  background: transparent; /* Make the track transparent */
}
.page-break-inside-avoid {
  page-break-inside: avoid;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  width: 100vw;
  overflow-x: hidden;
}
.fontstyle {
  /* font-feature-settings: 'ss01' on, 'ss04' on, 'ss03' on; */
  font-feature-settings: "salt" on;
}
.up {
  text-transform: uppercase;
}
.loader {
  animation: rotation 1.5s linear infinite;
}
/* .bg-radial-gradient {
  background-image: radial-gradient(ellipse 120% 90% at 50% 10%, #423657, #111111);
  border: 1px solid #f9b3d0;
  transition: all 1s ease; */

  @keyframes moveRight {
    from {
        left: -170px;
    }
    to {
        left: 270px; 
    }}

  .loading{
    background-image: radial-gradient(ellipse 200% 90% at 50% 10%, #5f2ccc, #5f2ccc);
    position: absolute;
    animation: moveRight 0.7s linear infinite;
  }